{% extends 'base.html.twig' %}

{% block title %}Paciento Registracija{% endblock %}

{% block body %}
    <h1>Paciento Registracija</h1>

    {{ form_start(form)}}
        <div class="container form-group">
            {{ form_label(form.user.name) }}
            <div class="klaida">
                {{ form_errors(form.user.name) }}
            </div>
            {{ form_widget(form.user.name) }}
        </div>
        <div class="container form-group">
            {{ form_label(form.user.surname) }}
            <div class="klaida">
                {{ form_errors(form.user.surname) }}
            </div>
            {{ form_widget(form.user.surname) }}
        </div>
        <div class="container form-group">
            {{ form_label(form.user.email) }}
            <div class="klaida">
                {{ form_errors(form.user.email) }}
            </div>
            {{ form_widget(form.user.email) }}
        </div>
        <div class="container form-group">
            {{ form_label(form.user.phoneNumber) }}
            <div class="klaida">
                {{ form_errors(form.user.phoneNumber) }}
            </div>
            {{ form_widget(form.user.phoneNumber) }}
        </div>
        <div class="container form-group">
            {{ form_label(form.user.plainPassword.first) }}
            <div class="klaida">
                {{ form_errors(form.user.plainPassword.first) }}
            </div>
            {{ form_widget(form.user.plainPassword.first) }}
        </div>
    <div class="container form-group">
        {{ form_label(form.user.plainPassword.second) }}
        <div class="klaida">
            {{ form_errors(form.user.plainPassword.second) }}
        </div>
        {{ form_widget(form.user.plainPassword.second) }}

    </div>
    <div class="container form-group">
        {{ form_row(form.user.save) }}
    </div>
    {{ form_end(form) }}

{% endblock %}
